%footer.footer
  %section.footer-link-container
    %img.gh-icon(src="/assets/gh-icon.png")
    %p.footer-links #{link_to "Louisa Barrett", "https://github.com/LouisaBarrett", :target => "blank"}
    %p.footer-links #{link_to "Bree Thomas", "https://github.com/breethomas", :target => "blank"}
